<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style type="text/css">
      body {
        padding-top: 0 !important;

        padding-bottom: 0 !important;

        padding-top: 0 !important;

        padding-bottom: 0 !important;

        margin: 0 !important;

        width: 100% !important;

        -webkit-text-size-adjust: 100% !important;

        -ms-text-size-adjust: 100% !important;

        -webkit-font-smoothing: antialiased !important;
      }

      .tableContent img {
        border: 0 !important;

        display: block !important;

        outline: none !important;
      }

      a {
        color: #382f2e;
      }

      p,
      h1 {
        margin: 0;
      }

      div,
      p,
      ul,
      h1 {
        margin: 0;
      }

      .bigger {
        font-size: 24px;
      }

      .bgBody {
        background: #333333;
      }

      .bgItem {
        background: #ffffff;
      }

      h2 {
        color: #444444;

        font-size: 16px;

        font-weight: normal;

        margin: 0;
      }

      p {
        color: #aaaaaa;

        font-size: 16px;

        line-height: 19px;

        font-weight: normal;
      }

      a.link2 {
        padding: 10px 20px;

        border-radius: 3px;

        -moz-border-radius: 3px;

        -webkit-border-radius: 3px;

        color: #ffffff;

        font-size: 16px;

        background: #c3caa9;

        text-decoration: none;
      }

      a.link1 {
        font-weight: bold;

        color: #7e8564;

        font-size: 16px;
      }

      @media only screen and (max-width: 480px) {
        table[class="MainContainer"],
        td[class="cell"] {
          width: 100% !important;

          height: auto !important;
        }

        td[class="specbundle"] {
          width: 100% !important;

          float: left !important;

          font-size: 16px !important;

          line-height: 17px !important;

          display: block !important;

          padding-bottom: 15px !important;
        }

        td[class="specbundle_img"] {
          width: 100% !important;

          float: left !important;

          display: block !important;

          font-size: 16px !important;

          line-height: 17px !important;
        }

        td[class="specbundle2"] {
          width: 90% !important;

          float: left !important;

          font-size: 16px !important;

          line-height: 17px !important;

          display: block !important;

          padding-bottom: 10px !important;

          padding-left: 5% !important;

          padding-right: 5% !important;

          text-align: center !important;
        }

        td[class="specbundle3"] {
          width: 70% !important;

          float: left !important;

          display: block !important;

          padding-bottom: 10px !important;

          padding-left: 15% !important;

          padding-right: 15% !important;
        }

        td[class="spechide"] {
          display: none !important;
        }

        img[class="banner"] {
          width: 100% !important;

          height: auto !important;
        }

        img[class="banner1"] {
          width: 95% !important;

          height: auto !important;
        }

        td[class="left_pad"] {
          padding-left: 15px !important;

          padding-right: 15px !important;
        }
      }

      @media only screen and (max-width: 540px) {
        table[class="MainContainer"],
        td[class="cell"] {
          width: 100% !important;

          height: auto !important;
        }

        td[class="specbundle"] {
          width: 100% !important;

          float: left !important;

          font-size: 16px !important;

          line-height: 17px !important;

          display: block !important;

          padding-bottom: 15px !important;
        }

        td[class="specbundle2"] {
          width: 90% !important;

          float: left !important;

          font-size: 16px !important;

          line-height: 17px !important;

          display: block !important;

          padding-bottom: 10px !important;

          padding-left: 5% !important;

          padding-right: 5% !important;

          text-align: center !important;
        }

        td[class="specbundle_img"] {
          width: 100% !important;

          float: left !important;

          display: block !important;

          font-size: 16px !important;

          line-height: 17px !important;
        }

        td[class="specbundle3"] {
          width: 70% !important;

          float: left !important;

          display: block !important;

          padding-bottom: 10px !important;

          padding-left: 15% !important;

          padding-right: 15% !important;
        }

        td[class="spechide"] {
          display: none !important;
        }

        img[class="banner"] {
          width: 100% !important;

          height: auto !important;
        }

        img[class="banner1"] {
          width: 95% !important;

          height: auto !important;
        }

        td[class="left_pad"] {
          padding-left: 15px !important;

          padding-right: 15px !important;
        }
      }
    </style>

    <script type="colorScheme" class="swatch active">

      {

        "name":"Default",

        "bgBody":"333333",

        "link":"7E8564",

        "color":"AAAAAA",

        "bgItem":"ffffff",

        "title":"444444"

      }
    </script>
  </head>

  <body
    paddingwidth="0"
    paddingheight="0"
    style="
      padding-top: 0;
      padding-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      background-repeat: repeat;
      width: 100% !important;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
    "
    offset="0"
    toppadding="0"
    leftpadding="0"
  >
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      class="tableContent bgBody"
      align="center"
      style="font-family: Helvetica, Arial, serif;"
    >
      <tbody>
        <tr>
          <td>
            <table
              width="600"
              border="0"
              cellspacing="0"
              cellpadding="0"
              align="center"
              class="MainContainer"
              bgcolor="white"
            >
              <tbody>
                <tr>
                  <!-- =============================== Header ====================================== -->

                  <!-- =============================== Body ====================================== -->

                  <td class="movableContentContainer">

                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative;"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        bgcolor="#ffffff"
                      >
                        <tbody>
                          <tr>
                            <td height="30"></td>
                          </tr>

                          <tr>
                            <td>
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td valign="top" width="28">&nbsp;</td>

                                    <td>
                                      <table
                                        width="100%"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td valign="top">
                                              <div
                                                class="contentEditableContainer contentImageEditable"
                                              >
                                                <div class="contentEditable">
                                                  <img
                                                    src="{{config.backend_url}}{{config.logo_img_path}}{{logo_img}}"
                                                    alt="{{user.name}}"
                                                    data-default="placeholder"
                                                    data-max-width="300"
                                                    height="80"
                                                    border="0"
                                                  />
                                                </div>
                                              </div>
                                            </td>

                                            <td
                                              valign="top"
                                              width="200"
                                              class="spechide"
                                            >
                                              &nbsp;
                                            </td>

                                            <td
                                              valign="middle"
                                              width="200"
                                              align="right"
                                            >
                                              <div
                                                class="contentEditableContainer contentTextEditable"
                                              >
                                                <div
                                                  class="contentEditable"
                                                  valign="middle"
                                                >
                                                  <a
                                                    target="_blank"
                                                    href=""
                                                    style="font-size: 16px;"
                                                    ></a
                                                  >
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>

                                    <td valign="top" width="28">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <td height="30"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative;"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td valign="top" width="600">
                              <div
                                class="contentEditableContainer contentImageEditable"
                              >
                                <div class="contentEditable">
                                  <img
                                    class="banner"
                                    src="{{config.backend_url}}{{config.email_img_path}}{{email_img}}"
                                    alt="{{name}}"
                                    data-default="placeholder"
                                    data-max-width="600"
                                    width="600"
                                    border="0"
                                  />
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative;"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        align="center"
                        bgcolor="white"
                      >
                        <tr>
                          <td height="25" colspan="3"></td>
                        </tr>

                        <tr>
                          <td width="25"></td>

                          <td>
                            <table
                              width="100%"
                              border="0"
                              cellspacing="0"
                              cellpadding="0"
                              align="center"
                            >
                              <tr>
                                <td>
                                  <div
                                    class="contentEditableContainer contentTextEditable"
                                  >
                                    <div class="contentEditable">
                                      <h1
                                        style="
                                          font-size: 20px;
                                          font-weight: normal;
										  color: white;
                                          margin: 0;
                                        "
                                      >
                                        Estimada/o {{ client }},
                                      </h1>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td height="10"></td>
                              </tr>

                              <tr>
                                <td>
                                  <div
                                    class="contentEditableContainer contentTextEditable"
                                  >
                                    <div class="contentEditable">
                                      <p
                                        style="
                                          font-size: 16px;
										  color: white;
                                          margin: 0;
                                        "
                                      >
                                        Gracias por registrarte en {{ store }}.
                                        Te mantendremos informado sobre las
                                        novedades, ofertas y descuentos de los
                                        que podrás disfrutar sólo por ser
                                        cliente.
                                      </p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>

                          <td width="25"></td>
                        </tr>

                        <tr>
                          <td height="25" colspan="3"></td>
                        </tr>
                      </table>
                    </div>

                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative;"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td height="10"></td>
                          </tr>

                          <tr>
                            <td>
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      bgcolor="#ffffff"
                                      width="295"
                                      class="specbundle"
                                    >
                                      <table
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        align="center"
                                        width="100%"
                                      >
                                        <tr>
                                          <td height="25" colspan="3"></td>
                                        </tr>

                                        <tr>
                                          <td width="25"></td>

                                          <td valign="top">
                                            <table
                                              border="0"
                                              cellspacing="0"
                                              cellpadding="0"
                                              align="center"
                                            >
                                              <tr>
                                                <td align="left">
                                                  <div
                                                    class="contentEditableContainer contentTextEditable"
                                                  >
                                                    <div
                                                      class="contentEditable"
                                                    >
                                                      <h2></h2>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>

                                              <tr>
                                                <td height="15"></td>
                                              </tr>

                                              <tr>
                                                <td align="left">
                                                  <div
                                                    class="contentEditableContainer contentTextEditable"
                                                  >
                                                    <div
                                                      class="contentEditable"
                                                    >
                                                      <p>
                                                        A partir de mañana,
                                                        podrás disfrutar de un
                                                        <span style="color: black; font-size: 20px">5% de descuento</span> en
                                                        nuestros productos
                                                        (salvo productos de
                                                        rebajas) y en todas
                                                        nuestras tiendas.
                                                      </p>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>

                                              <tr>
                                                <td height="35px"></td>
                                              </tr>

                                              <tr>
                                                <td align="left">
                                                  <div
                                                    class="contentEditableContainer contentTextEditable"
                                                  >
                                                    <div
                                                      class="contentEditable"
                                                    >
                                                      <a
                                                        target="_blank"
                                                        href="https://www.fimsbury.com/tiendas"
                                                        class="link2"
                                                        style="color: #ffffff;"
                                                        >Nuestas tiendas</a
                                                      >
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>

                                          <td width="25"></td>
                                        </tr>

                                        <tr>
                                          <td height="35" colspan="3"></td>
                                        </tr>
                                      </table>
                                    </td>

                                    <td
                                      valign="top"
                                      width="10"
                                      class="specbundle"
                                    >
                                      &nbsp;
                                    </td>

                                    <td
                                      bgcolor="#ffffff"
                                      width="295"
                                      class="specbundle"
                                    >
                                      <table
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        align="center"
                                      >
                                        <tr>
                                          <td height="25" colspan="3"></td>
                                        </tr>

                                        <tr>
                                          <td width="25"></td>

                                          <td valign="top">
                                            <table
                                              border="0"
                                              cellspacing="0"
                                              cellpadding="0"
                                              align="center"
                                            >
                                              <tr>
                                                <td align="left">
                                                  <div
                                                    class="contentEditableContainer contentTextEditable"
                                                  >
                                                    <div
                                                      class="contentEditable"
                                                    >
                                                      <h2></h2>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>

                                              <tr>
                                                <td height="15"></td>
                                              </tr>

                                              <tr>
                                                <td align="left">
                                                  <div
                                                    class="contentEditableContainer contentTextEditable"
                                                  >
                                                    <div
                                                      class="contentEditable"
                                                    >
                                                      <p>
                                                        Desde este momento,
                                                        <span style="color: black; font-size: 18px">podrás acceder a nuestra
                                                        tienda online</span> con el
                                                        mail con el que te has
                                                        registrado y con la
                                                        pass: fimsbury2020 (una
                                                        vez hayas accedido,
                                                        podrás modificar tus
                                                        datos de acceso en el
                                                        panel de cliente).
                                                      </p>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>

                                              <tr>
                                                <td height="35px"></td>
                                              </tr>

                                              <tr>
                                                <td align="left">
                                                  <div
                                                    class="contentEditableContainer contentTextEditable"
                                                  >
                                                    <div
                                                      class="contentEditable"
                                                    >
                                                      <a
                                                        target="_blank"
                                                        href="https://www.fimsbury.com/"
                                                        class="link2"
                                                        style="color: #ffffff;"
                                                        >Visita nuestra web</a
                                                      >
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>

                                          <td width="25"></td>
                                        </tr>

                                        <tr>
                                          <td height="35" colspan="3"></td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative;"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        align="center"
                        bgcolor="white"
                      >

                        <tr>

                          <td width="100">
                            <table
                              width="100%"
                              border="0"
                              cellspacing="0"
                              cellpadding="0"
                              align="center"
                            >
                              <tr>
                                <td>
                                  <div
                                    class="contentEditableContainer contentTextEditable"
                                  >
                                    <div class="contentEditable">
                                      <h1
                                        style="
                                          font-size: 16px;
                                          color: black;
                                          font-weight: normal;
                                          margin: 0;
                                        "
                                      ></h1>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td height="10"></td>
                              </tr>

                              <tr>
                                <td>
                                  <div
                                    class="contentEditableContainer contentTextEditable"
                                  >
                                    <div class="contentEditable">
										<p style="color: black">

									Si usted desea darse de baja de toda
                                  notificación por parte de {{store}}, deberá
                                  madar un mail con el asunto: BAJA a
                                  <a href="mailto:{{ store_email }}">info@fimsbury.com</a>
									</p>
                                      <p
                                        style="
                                          font-size: 16px;
                                          color: black;
                                          margin: 0;
                                        "
                                      >
                                        Gracias y nos vemos en FIMSBURY.
                                      </p>
                                    </div>
                                  </div>
                                </td>
								<td><a
									target="_blank"
									href="{{ fasebook }}"
									><img
										src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/600px-Facebook_Logo_%282019%29.png"
										width="52"
										data-customIcon="true"
										height="52"
										alt="facebook icon"
										data-default="placeholder"
										data-max-width="52"
									/></a>
									<a
									target="_blank"
									href="{{ twitter }}"
									><img
										src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-2-1.png"
										width="52"
										data-customIcon="true"
										height="52"
										alt="twitter icon"
										data-default="placeholder"
										data-max-width="52"
									/></a>
									<a
									target="_blank"
									href="{{ instagram }}"
									><img
										src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1200px-Instagram-Icon.png"
										width="52"
										data-customIcon="true"
										height="52"
										alt="twitter icon"
										data-default="placeholder"
										data-max-width="52"
									/></a>
								</td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr style="text-align: center;">
                          <td height="150">
							  <p><span style="color: black; font-size: 12px; line-height: 150%;"><img src="http://app.nuclient.es:85/assets/img/logo-black.svg" heigth="150"> © 2020</span><br></p>
						  </td>
                        </tr>
                      </table>
                    </div>

                    <!-- =============================== footer ====================================== -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td height="55"></td>
        </tr>
      </tbody>
    </table>

    <!--Default Zone End-->
  </body>
</html>
